
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.logo{
	
	margin: 20px auto;
	-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		position:absolute;
		top:25%;
		left:200px;
		height: 80px;
		right:200px;
		bottom: 50%
	}

#header{
	position: absolute;
	top:0;
	right:0;
	font-family: arial;
	vertical-align: baseline;
	
	}

	#sign{
		background-color: #6976cf;
		color: white;
		font-size:14px;
		text-align: center;
		font-family: serif;
		font-weight: bold;
		padding:0;
		width: 75px;
		height: 32px;


	}

	#grid{
		display: inline-block;
		vertical-align: bottom;
	}

	nav ul li{
		padding: 0 5 .5px;
		display: inline-block;
	}
	
	li{
		text-align: -webkit-match-parent;
	}		

	
	nav ul{
		float:right;
		padding-left: 0 25px 0 0;
		margin-right: 16px;
	}



	ul{
		vertical-align: baseline;
		font-size: 13px;

		text-align: right;
		display: inline;
		list-style: none;
	}

	a:link{text-decoration: none;
		color:black;
		font-size: 14px;
	}
	a:hover{text-decoration: underline}
	a:visited {
		color:black;

	}
	button{
		border:1px solid #c6c6c6;
		background-color: #EEEEEE;
		font-size: 11px;
		font-weight: bold;
		}
	input{ 
		height: 27px;
		border:1px solid #cccccc;

	}

	

	.grid{
		margin-top:10px;
		float: bottom 12px;
	}
	* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
	
	#footerleft{
		
		float:right;
		margin-right: 12px}
	#footerright{
		float:left;
		margin-right: 12px;
		margin-left:12px;
	}
		

	}
	footer ul li{
		margin-right:20px;
		margin-left: 5px;
	}

	li{
		display: list-item;
		text-align: -webkit-match-parent;
	}
	

		.footer{
			background-color: #f2f2f2;
			border-top:1px solid #e4e4e4;
			width:100%;
			line-height: 40px;
			clear:both;
			position: fixed;
			display: inline-block;
			margin-top:auto;
			bottom: 0;
		}

		.footer a{
			font-family: arial;
			color:#616161;
		}
		
	.gog{
		position: absolute;
		width:120px;
		top:51%;
		left:550px;
		height: 24px;
		right:100px;
		bottom: 49%}

		.lucky{
		position: absolute;
		width:120px;
		top:51%;
		left:700px;
		height: 24px;
		right:100px;
		bottom: 49%}

	
	

		.box{
			

			position: absolute;
			left: 400px;
			top:300px;
			width:40px;
			height: 40px;
			z-index: 1;}

			
		
			.mike{
				position: absolute;
				left:951px;
				top:45.5%;
				height: 20px;
				width: 20px;
				bottom: 54.5%;
				padding: 0 0 0 0;
				margin: 0 0 0 0;
				z-index: 2;
				

			}

			ul{
				display: inline;
				font-size: 13px;
				text-align:right;
				list-style: none;
				vertical-align: baseline;

			}
			.footer-list
			}

		
		
	

